body {
    background: #f7f7f7;
}

.charts-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.charts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
}

.chart-box {
    background: #0f172a;
    padding: 20px;
    border-radius: 10px;
}


.subtitle {
    color: #bbb;
    margin-top: 10px;
    text-align: center;
}
