{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">

    <h3 class="mb-4">🖥 Tüm Cihazlar</h3>

    <table class="table table-striped shadow">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>GPU</th>
                <th>CPU</th>
                <th>TDP (W)</th>
                <th>Sürücü</th>
                <th>CUDA</th>
            </tr>
        </thead>
        <tbody>
            {% for d in devices %}
            <tr>
                <td>{{ d.id }}</td>
                <td>{{ d.gpu_name }}</td>
                <td>{{ d.cpu_name }}</td>
                <td>{{ d.tdp_w }}</td>
                <td>{{ d.driver_version }}</td>
                <td>{{ d.cuda_version }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
